.styleInfo{
    display:flex;
    margin:7px;
    justify-content: space-between;
}

.styleInfo h4{
    margin:0;
    padding-right: 10px;
}

.container{
    padding: 2px;
    width: 90%;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2);
}