
.card{
    display:flex;
    align-items: center;
    justify-content: start;
    padding: 0px 5px;
    min-height: 40px;
}

.card:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.5);
    color:white;
}
