.dataName{
    display: flex;
    justify-content: space-between;
}

.dataInfo{
  margin: 10px 0 0 20px;  

}

.buttons{
    width: 150px;
}

.card{
    display:flex;
    align-items: center;
    justify-content: start;
    padding: 0px 10px;
    min-height: 50px;
    background-color: rgba(0,0,0,0.1);
    margin-top: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.card:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.5);
    color:white;
}